/* font */

@font-face {
  font-family: 'Ubuntu';
  src: url('./font/Ubuntu-Bold.ttf'),
       url('./font/Ubuntu-BoldItalic.ttf'),
       url('./font/Ubuntu-Italic.ttf'),
       url('./font/Ubuntu-Light.ttf'),
       url('./font/Ubuntu-LightItalic.ttf'),
       url('./font/Ubuntu-Medium.ttf'),
       url('./font/Ubuntu-MediumItalic.ttf'),
       url('./font/Ubuntu-Regular.ttf'),
}

/* html */

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

p {
  line-height: 1.75;
}

ol, ul {
  list-style-position: inside;
}

a, a:active {
  text-decoration: none;
  transition: 0.5s;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

/* theme */

.theme {
  color: #111;
}

.theme a,
.theme a:active {
  color: #666;
}

.theme a:hover {
  color: #CCC;
}

.theme h1,
.theme h2,
.theme h3,
.theme h4,
.theme h5 {
  color: #666;
}

.theme .header,
.theme .footer {
  background: #FFF;
  outline: 1px solid #EEE;
}

.theme .sidebar {
  color: #333;
  outline: 1px solid #EEE;
}

.theme .sidebar h2 {
  color: #333;
}

.theme .sidebar-mobile {
  outline: 1px solid #EEE;
}

.theme .banner {
  background: rgba(255, 255, 255, 0.8);
}

.theme .banner i {
  color: #666;
}

.theme .content {
  background: #FFF;
}

.theme .content-item h2 {
  color: #666;
}

/* header, footer */

.header,
.footer {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  height: 60px; /* fixed height */
  justify-content: center;
  width: 100vw;
}

.header li,
.footer li {
  display: inline-block;
}

.header a,
.footer a {
  padding: 0.75rem;
}

.header b,
.footer b {
  font-weight: 300;
  padding: 0.75rem;
}

@media (max-width: 1000px) {

  .header,
  .footer {
    font-size: 1rem;
  }

  .header li,
  .footer li {
    padding: 0.5rem 0;
  }
}

@media (max-width: 500px) {

  .header-desktop {
    display: none;
  }
}

/* sidebar */

.sidebar {
  font-size: 0.9rem;
  height: calc(100vh - 4rem); /* height - padding */
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 6rem 4rem;
  position: fixed;
  top: 0;
  width: 200px; /* fixed width */
  z-index: 5;
}

.sidebar h2 {
  font-size: 1rem;
  padding: 1rem 0;
}

.sidebar li {
  padding: 0.5rem 0;
}

.sidebar-mobile {
  display: none;
}

.sidebar-mobile button {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100vw;
}

@media (max-width: 1000px) {

  .sidebar {
    height: auto;
    padding: 0;
    position: relative;
    width: 100vw;
  }

  .sidebar-desktop {
    display: none;
  }

  .sidebar-mobile {
    background: #FFF;
    display: block;
  }

  .sidebar-mobile-menu {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
}

/* container */

.container {
  height: calc(100vh - 60px - 60px); /* height - header - footer */
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

/* background */

.background-image,
.background-white {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -10;
}

.background-image {
  background-image: url('./img/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-white {
  background: #FFF;
}

/* banner */

.banner {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  min-height: calc(100vh - 60px - 60px); /* height - header - footer */
  width: 100vw;
}

.banner div {
  margin-bottom: 5%;
  padding: 0 2rem;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  padding: 0.25rem 0;
}

.banner p {
  padding: 0.25rem 0;
}

.banner ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.5rem 0;
}

.banner a {
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
}

@media (max-width: 1000px) {

  .banner {
    font-size: 1.2rem;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner a {
    font-size: 1.1rem;
  }
}

/* content */

.content {
  align-items: center;
  background: #FFF;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  padding: 4rem 0;
  text-align: center;
  width: 100vw;
}

.content-item {
  display: block;
  max-width: 650px;
  padding: 2rem 0;
  width: 100%;
}

.content-item h2 {
  font-size: 2.6rem;
}

.content-item h3 {
  font-size: 1.6rem;
  margin-top: 4rem;
  padding: 1rem 0;
}

.content-item p,
.content-item ul {
  padding: 1rem 0;
}

.content-item li {
  padding: 1rem 0;
}

.content-item img {
  filter: grayscale(50%);
  margin: 0 auto;
  max-height: 200px;
}

@media (max-width: 1000px) {

  .content {
    font-size: 1rem;
  }

  .content-item {
    padding: 4rem;
  }
}

/* document */

.document {
  margin: 0;
  min-height: calc(100vh - 60px - 60px); /* height - header - footer */
}

.document-item {
  margin: 0 auto;
  max-width: 740px;
  padding: 4rem;
}

.document-item h1,
.document-item h2,
.document-item h3 {
  padding: 1rem 0;
}

.document-item p {
  padding: 0.5rem 0;
  text-align: justify;
}

.document-item p,
.document-item li {
  font-size: 1.05rem;
  line-height: 2;
}

@media (max-width: 1500px) {

  .document {
    margin: 0;
    margin-left: calc(200px + 4rem + 4rem); /* sidebar width + sidebar padding + padding */
  }
}

@media (max-width: 1000px) {

  .document {
    margin: 0;
  }
  
  .document-item {
    padding: 2rem;
  }

  .document-item h1 {
    font-size: 1.6rem;
  }

  .document-item h2 {
    font-size: 1.4rem;
  }

  .document-item h3 {
    font-size: 1.1rem;
  }

  .document-item p {
    text-align: left;
  }
}
